#map {
    &_drawable {
        &:hover {
            cursor: crosshair;
        }
    }
}

.switcher {
    position: absolute;
    right: 35px;
    top: 150px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    z-index: 10;

    &_active {
        box-shadow: inset 0 0 10px -1px #000;
    }

    &:hover {
        cursor: pointer;
    }
}