@import './filter-variables.scss';

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
}

.sidebar__filter {
    position: relative;
    margin-top: 20px;
    z-index: 0;

    &-icon {
        margin-right: 6px;
    }

    &-opener {
        position: absolute;
        display: block;
        right: 1px;
        width: 10px;
        transition: .8s;

        &_reversed {
            transform: rotate(180deg);
        }
    }

    &-title {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        color: $info-text-color;
        margin: 0;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    &-links {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        overflow: hidden;
        max-height: 100px;
        transition: .8s;

        &_closed {
            max-height: 0px;
        }
    }
}